<%= form_tag user_messages_path, method: :post do, remote: true %>

  <li class="object-item group">
    <div class="object-avatar">
      <%= display_photo(current_user.profile, :avatar) %>
    </div>

    <section class="object-content">
        <%= text_field_tag :body %>
    </section>
  </li>

 <%= submit_tag "Send" %>
</form>
<% end %>



