<% if current_user.profile == @profile && @profile.photos.blank? %>
<%=image_tag 'img_placeholder.png' %>
  
  <div class="flash">
    Uploading photos increase your chance of success.
  </div>

<% end %>



