<h1>Profiles</h1>
<p>Check out your matches</p>

<ul class="profiles-list group">
	<% @profiles.each do |profile| %>
		<li>
    <div class="profile-content">
			<%= link_to profile.user.username, profile_path(profile) %>
			<%= age(profile.birthday) %>
      <%= profile.city %>
      <br>
    </div>
			<%= link_to display_photo(profile, :avatar), profile_path(profile) %>
		</li>
	<%end%>
</ul>