<h1 class="username">
    <%= @profile.user.username %>,  
    <%= age(@profile.birthday) %> </h1>
      <%= render partial: "profile_photos", locals: {profile: @profile} %>
    <h3><%= @profile.bio %></h3>



