<body id="top" class="fullscreen-image-background" style="display: block;">

<div  class="splash">
  <div style="width: 100%; margin: 0 auto">
    <h1 class="username" style="text-align: left; margin-bottom: 60px; font-size: 50px">Dating for the Adventurous</h1>

	<%= render 'shared/login'%>
    </form>
  </div>
</div>