<body id="top" class="fullscreen-image-background" style="display: block;">

<section class="hero">
	<div class="logo">
		<!-- <img alt="" -->
	</div>
	
	<div class="content">
		<h2>Dating for the Adventureous</h2>
	</div>
	<button>
		<a href="/users/sign_up" class="btn btn-lg btn-info"></span> Sign Up</a>
	</button>